[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The OpenRC init system
[access "refs/*"]
	owner = group user/John R. Graham (john-r-graham)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/John R. Graham (john-r-graham)
	label-Verified = -1..+1 group user/John R. Graham (john-r-graham)
	push = group user/John R. Graham (john-r-graham)
	read = group user/John R. Graham (john-r-graham)
	rebase = group user/John R. Graham (john-r-graham)
	removeReviewer = group user/John R. Graham (john-r-graham)
	submit = group user/John R. Graham (john-r-graham)
[access "refs/heads/*"]
	create = group user/John R. Graham (john-r-graham)
	push = +force group user/John R. Graham (john-r-graham)
	pushMerge = group user/John R. Graham (john-r-graham)
	read = group user/John R. Graham (john-r-graham)
[access "refs/tags/*"]
	push = group user/John R. Graham (john-r-graham)
	push = +force group user/John R. Graham (john-r-graham)
